In [1]:
# Imports

from sqlalchemy import create_engine, text, inspect, Table
import pandas as pd

In [2]:
# Load the csv into a pandas dataframe (https://www.w3schools.com/python/pandas/pandas_dataframes.asp)
popdf = pd.read_csv("pop_data.csv", delimiter=",",index_col=0)
tempdf = pd.read_csv("tempmeans.csv", delimiter=",",index_col=0)

In [3]:
# Create a SQLAlchemy engine to connect to the PostgreSQL database
engine = create_engine("postgresql://student:infomdss@db_dashboard:5432/dashboard")

# Establish a connection to the database using the engine
# The 'with' statement ensures that the connection is properly closed when done
with engine.connect() as conn:
    # Execute an SQL command to drop the 'population' table if it exists
    # The text() function allows you to execute raw SQL statements
    result = conn.execute(text("DROP TABLE IF EXISTS population CASCADE;"))
    result = conn.execute(text("DROP TABLE IF EXISTS temperature CASCADE;"))

# Assuming you have a DataFrame named 'world_population_df', the following line
# writes the data from the DataFrame to a new 'population' table in the database
# If the 'population' table already exists, it will be replaced with the new data
# This prints the number of rows entered in the database table
popdf.to_sql("population", engine, if_exists="replace", index=True)
tempdf.to_sql("temperature", engine, if_exists="replace", index=True)

21

In [ ]:
query_1 = '''SELECT o.name, o.surname, p.proceduretype 
 FROM procedures as p 
 INNER JOIN Pets as a
ON p.petid = a.petid
 INNER JOIN owners as o
 ON a.ownerid = o.ownerid
 ORDER BY o.name
 '''
con = engine.connect()
#############################
table_1 = pd.read_sql(query_1, con) if not query_1.isspace() else 0
table_1
query_2 = '''SELECT "temp" soort, Country_Code
    FROM temperature
    '''

In [4]:
query_2 = '''SELECT 'temp' eigenschap, country, yr1986, yr2000
    FROM temperature
    UNION ALL
    SELECT 'pop', country, yr1986, yr2000
    FROM population
    ORDER BY country, eigenschap 
    '''
con = engine.connect()
table_1 = pd.read_sql(query_2, con) if not query_2.isspace() else 0
table_1

   eigenschap country        yr1986        yr2000
0         pop      AT  7.569794e+06  8.011566e+06
1        temp      AT  7.591781e+00  9.221311e+00
2         pop      BE  9.861823e+06  1.025125e+07
3        temp      BE           NaN           NaN
4         pop      BG  8.958171e+06  8.170172e+06
5        temp      CH  7.271233e+00  8.784153e+00
6         pop      CY  7.434460e+05  9.482370e+05
7        temp      CY  1.870137e+01  1.922131e+01
8         pop      CZ  1.034223e+07  1.025506e+07
9         pop      DE  7.772044e+07  8.221151e+07
10       temp      DE  8.101370e+00  9.942623e+00
11        pop      DK  5.120534e+06  5.339616e+06
12       temp      DK  7.591781e+00  9.830601e+00
13        pop      EE  1.540190e+06  1.396985e+06
14       temp      EE  5.158904e+00  7.202186e+00
15        pop      EL  9.967213e+06  1.080581e+07
16        pop      ES  3.858462e+07  4.056786e+07
17       temp      ES  1.481918e+01  1.546995e+01
18        pop      FI  4.918154e+06  5.176209e+06
19       temp      FI  2.347945e+00  4.663934e+00
20        pop      FR  5.686519e+07  6.092138e+07
21       temp      FR  1.165753e+01  1.295628e+01
22       temp      GB  8.336986e+00  9.734973e+00
23        pop      HR  4.721446e+06  4.468302e+06
24       temp      HR  1.224384e+01  1.390710e+01
25        pop      HU  1.063056e+07  1.021097e+07
26        pop      IE  3.539690e+06  3.805174e+06
27       temp      IE  8.769863e+00  1.003279e+01
28        pop      IT  5.659616e+07  5.694211e+07
29       temp      IT  1.520000e+01  1.647541e+01
30        pop      LT  3.578914e+06  3.499536e+06
31        pop      LU  3.683550e+05  4.363000e+05
32       temp      LU  8.260274e+00  1.003552e+01
33        pop      LV  2.599892e+06  2.367550e+06
34       temp      LV  5.572603e+00  7.617486e+00
35        pop      MT  3.421210e+05  3.900870e+05
36        pop      NL  1.457228e+07  1.592551e+07
37       temp      NL  8.950685e+00  1.079235e+01
38       temp      NO  3.709589e+00  5.633880e+00
39        pop      PL  3.745612e+07  3.825863e+07
40       temp      PL  7.180822e+00  8.945355e+00
41        pop      PT  1.003273e+07  1.028990e+07
42        pop      RO  2.283684e+07  2.244297e+07
43       temp      RO  9.304110e+00  1.038798e+01
44        pop      SE  8.369829e+06  8.872109e+06
45       temp      SE  3.786301e+00  5.745902e+00
46        pop      SI  1.965964e+06  1.988925e+06
47        pop      SK  5.193838e+06  5.388720e+06

In [4]:
query_3 = '''SELECT * FROM temperature'''

con = engine.connect()
table = pd.read_sql(query_3, con)
table

,index,YR1986,YR1987,YR1988,YR1989,YR1990,YR1991,YR1992,YR1993,YR1994,...,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022,YR2023,country
0,0,7.591781,7.369863,8.224044,8.490411,8.402740,7.515068,8.751366,8.087671,9.367123,...,9.720548,9.256831,9.158904,9.920548,9.794521,9.491803,8.605479,10.041096,10.872428,AT
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.869565,10.786301,12.134247,12.448560,BE
2,2,12.243836,12.200000,12.639344,12.624658,12.972603,12.032877,13.172131,12.676712,13.756164,...,13.986301,13.609290,13.630137,14.276712,14.254795,13.972678,13.589041,14.604396,14.711934,HR
3,3,18.701370,18.389041,18.740437,18.720548,18.931507,18.619178,17.535519,18.476712,19.320548,...,20.276712,20.445355,20.043836,21.084932,20.509589,20.679452,20.841096,20.418994,20.452675,CY
4,4,7.591781,7.041096,8.945355,9.830137,9.989041,8.789041,9.489071,8.120548,9.189041,...,9.345205,9.265027,9.115068,9.687671,9.715068,10.120219,9.057534,9.778082,10.094650,DK
5,5,5.158904,3.564384,5.893443,7.386301,6.912329,6.501370,6.704918,5.361644,5.490411,...,7.597260,6.699454,6.517808,7.230137,7.580822,8.439891,6.778082,7.191781,8.448560,EE
6,6,2.347945,0.871233,3.193989,4.824658,4.194521,3.649315,3.920765,3.115068,3.057534,...,5.098630,4.224044,3.852055,4.553425,4.164384,5.778689,3.838356,4.619178,5.703704,FI
7,7,11.657534,11.687671,12.404372,12.934247,12.939726,11.912329,12.303279,12.046575,13.210959,...,13.339726,12.909836,13.153425,13.668493,13.454795,13.781421,12.739726,14.265753,13.938272,FR
8,8,8.101370,7.635616,9.210383,9.578082,9.558904,8.536986,9.442623,8.638356,9.879452,...,10.068493,9.606557,9.679452,10.580822,10.331507,10.467213,9.246575,10.589041,11.226337,DE
9,9,8.769863,9.473973,9.855191,10.298630,10.380822,9.838356,9.800546,9.619178,9.895890,...,9.832877,10.142077,10.413699,10.252055,10.309589,10.248634,10.452055,10.758904,11.302905,IE
10,10,15.200000,15.161644,15.713115,15.476712,15.745205,14.728767,15.472678,15.443836,16.306849,...,13.808219,13.571038,13.813699,13.953425,14.865753,14.442623,13.898630,14.917808,15.016461,IT
11,11,5.572603,3.950685,6.188525,7.679452,7.484932,6.808219,7.019126,5.723288,6.041096,...,7.898630,7.163934,6.991781,7.717808,8.221918,8.743169,6.989011,7.416438,8.559829,LV
12,12,8.260274,7.901370,9.431694,9.873973,9.953425,8.854795,9.215847,8.715068,9.824658,...,10.060274,9.434426,9.646575,10.350685,9.898630,10.527322,9.095890,10.394521,10.716049,LU
13,13,8.950685,8.786301,10.289617,10.690411,10.682192,9.416438,10.404372,9.534247,10.534247,...,10.816438,10.806011,10.972603,11.153425,11.183562,11.546448,10.430137,11.605479,11.831276,NL
14,14,3.709589,3.391781,4.655738,5.602740,5.901370,5.021918,5.196721,4.342466,4.378082,...,5.443836,5.071038,4.805479,5.063014,4.791781,5.816940,4.572603,5.120548,5.814815,NO
15,15,7.180822,6.230137,7.928962,8.904110,8.824658,7.400000,8.262295,7.443836,8.487671,...,9.106849,8.486339,8.320548,9.123288,9.520548,9.210383,7.983562,8.854795,10.292181,PL
16,16,9.304110,8.605479,9.248634,9.936986,10.191781,8.868493,9.560109,9.038356,10.512329,...,10.854795,10.366120,10.353425,10.778082,11.347945,11.273224,10.693151,11.443836,12.716049,RO
17,17,14.819178,15.430137,15.158470,15.939726,15.668493,14.865753,14.846995,14.473973,15.649315,...,14.873973,14.669399,14.865753,14.446575,15.202740,14.918033,14.463014,15.747945,16.193416,ES
18,18,3.786301,2.887671,4.754098,6.016438,6.043836,5.093151,5.500000,4.424658,4.564384,...,5.838356,5.292350,5.060274,5.575342,5.435616,6.792350,5.054795,5.824658,6.563786,SE
19,19,7.271233,7.230137,7.918033,8.254795,8.301370,7.676712,8.207650,7.794521,8.975342,...,9.191781,8.521858,8.775342,9.605479,9.169863,9.428962,8.230137,10.057692,10.438017,CH
20,20,8.336986,8.693151,9.415301,9.969863,10.082192,9.169863,9.341530,9.021918,9.619178,...,9.917808,10.002732,10.293151,10.243836,10.164384,10.393443,9.991781,10.816438,10.925926,GB