In [ ]:
# Imports

from sqlalchemy import create_engine, text, inspect, Table
import pandas as pd

In [ ]:
# Load the csv into a pandas dataframe (https://www.w3schools.com/python/pandas/pandas_dataframes.asp)
popdf = pd.read_csv("pop_data.csv", delimiter=",",index_col=0)
tempdf = pd.read_csv("tempmeans.csv", delimiter=",",index_col=0)

In [ ]:
# Create a SQLAlchemy engine to connect to the PostgreSQL database
engine = create_engine("postgresql://student:infomdss@db_dashboard:5432/dashboard")

# Establish a connection to the database using the engine
# The 'with' statement ensures that the connection is properly closed when done
    # Execute an SQL command to drop the 'population' table if it exists
    # The text() function allows you to execute raw SQL statements
    

# Assuming you have a DataFrame named 'world_population_df', the following line
# writes the data from the DataFrame to a new 'population' table in the database
# If the 'population' table already exists, it will be replaced with the new data
# This prints the number of rows entered in the database table

In [ ]:
query_1 = '''SELECT o.name, o.surname, p.proceduretype 
 FROM procedures as p 
 INNER JOIN Pets as a
ON p.petid = a.petid
 INNER JOIN owners as o
 ON a.ownerid = o.ownerid
 ORDER BY o.name
 '''
con = engine.connect()
#############################
table_1 = pd.read_sql(query_1, con) if not query_1.isspace() else 0
table_1
query_2 = '''SELECT "temp" soort, Country_Code
    FROM temperature
    '''

In [ ]:
query_2 = f'''SELECT {country}
    FROM {temperature}
    WHERE country = 'SWE';
    ''' 
con = engine.connect()
table_1 = pd.read_sql(query_2, con) if not query_2.isspace() else 0
table_1

In [ ]:
query_3 = '''SELECT * FROM temperature'''

con = engine.connect()
table = pd.read_sql(query_3, con)
table

In [ ]:
from sqlalchemy import create_engine, text, inspect, Table
import pandas as pd

engine = create_engine("postgresql://student:infomdss@db_dashboard:5432/dashboard")

with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS pets CASCADE;"))
    conn.execute(text("DROP TABLE IF EXISTS owners CASCADE;"))
    conn.execute(text("DROP TABLE IF EXISTS procedures CASCADE;"))

In [ ]:
pets_df = pd.read_csv("Pets.csv", delimiter=",")
owners_df = pd.read_csv("Owners.csv", delimiter=",")
procedures_df = pd.read_csv("ProceduresHistory.csv", delimiter=",")
print (pets_df.head())

In [ ]:
pets_df.to_sql("pets", engine, if_exists="replace", index=True)
owners_df.to_sql("owners", engine, if_exists="replace", index=True)
procedures_df.to_sql("procedures", engine, if_exists="replace", index=True)

In [ ]:
procedures_table = pd.read_sql_table('procedures', engine, index_col='index')
procedures_table

In [ ]:
query_1 = '''SELECT o.name, o.surname, p.proceduretype 
 FROM procedures as p 
 INNER JOIN Pets as a
ON p.petid = a.petid
 INNER JOIN owners as o
 ON a.ownerid = o.ownerid
 ORDER BY o.name
 '''
con = engine.connect()
#############################
table_1 = pd.read_sql(query_1, con) if not query_1.isspace() else 0
table_1

In [ ]:
query_4 = '''SELECT o.name, COUNT(*) as Total
FROM pets as a
LEFT OUTER JOIN owners as o
ON a.ownerid = o.ownerid
GROUP BY o.name
ORDER BY Total DESC
'''
con = engine.connect()
#############################
table_4 = pd.read_sql(query_4, con) if not query_4.isspace() else 0
table_4

In [ ]:
# Imports

from sqlalchemy import create_engine, text, inspect, Table
import pandas as pd

engine = create_engine("postgresql://student:infomdss@db_dashboard:5432/dashboard")

con = engine.connect()
df = pd.read_sql("SELECT * FROM temperature", con)
df.head()

In [ ]:
df = pd.read_sql("SELECT * FROM electricity", con)
df.head()

In [ ]:
df = pd.read_sql("SELECT * FROM population", con)
df.head()