In [1]:
pip install wbgapi plotly

Requirement already satisfied: wbgapi in /opt/conda/lib/python3.11/site-packages (1.0.12)
Requirement already satisfied: plotly in /opt/conda/lib/python3.11/site-packages (5.17.0)
Requirement already satisfied: requests in /opt/conda/lib/python3.11/site-packages (from wbgapi) (2.31.0)
Requirement already satisfied: PyYAML in /opt/conda/lib/python3.11/site-packages (from wbgapi) (6.0.1)
Requirement already satisfied: tabulate in /opt/conda/lib/python3.11/site-packages (from wbgapi) (0.9.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.11/site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in /opt/conda/lib/python3.11/site-packages (from plotly) (23.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests->wbgapi) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests->wbgapi) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests->wbgapi) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests->wbgapi) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import wbgapi as wb

#wb.source.info()

In [3]:
EUList_alpha3 = ['BEL', 'BGR', 'CZE', 'DNK', 'DEU', 'EST', 'IRL', 'GRC', 'ESP', 'FRA', 'HRV', 'ITA', 'CYP', 'LVA', 'LTU', 'LUX', 'HUN', 'MLT', 'NLD', 'AUT', 'POL', 'PRT', 'ROU', 'SVN', 'SVK', 'FIN', 'SWE']

pop_data = wb.data.DataFrame('SP.POP.TOTL', EUList_alpha3 ,range(1986, 2023, 1))
pop_data.head()

,YR1986,YR1987,YR1988,YR1989,YR1990,YR1991,YR1992,YR1993,YR1994,YR1995,...,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022
economy,,,,,,,,,,,,,,,,,,,,,
AUT,7569794.0,7574586.0,7585317.0,7619567.0,7677850.0,7754891.0,7840709.0,7905633.0,7936118.0,7948278.0,...,8479823.0,8546356.0,8642699.0,8736668.0,8797566.0,8840521.0,8879920.0,8916864.0,8955797.0,9042528.0
BEL,9861823.0,9870234.0,9901664.0,9937697.0,9967379.0,10004486.0,10045158.0,10084475.0,10115603.0,10136811.0,...,11159407.0,11209057.0,11274196.0,11331422.0,11375158.0,11427054.0,11488980.0,11538604.0,11592952.0,11669446.0
BGR,8958171.0,8971359.0,8981446.0,8876972.0,8718289.0,8632367.0,8540164.0,8472313.0,8443591.0,8406067.0,...,7265115.0,7223938.0,7177991.0,7127822.0,7075947.0,7025037.0,6975761.0,6934015.0,6877743.0,6465097.0
CYP,743446.0,755021.0,766412.0,777592.0,788500.0,799061.0,810431.0,825986.0,844444.0,862418.0,...,1166968.0,1176995.0,1187280.0,1197881.0,1208523.0,1218831.0,1228836.0,1237537.0,1244188.0,1251488.0
CZE,10342227.0,10347318.0,10355276.0,10361068.0,10333355.0,10308578.0,10319123.0,10329855.0,10333587.0,10327253.0,...,10514272.0,10525347.0,10546059.0,10566332.0,10594438.0,10629928.0,10671870.0,10697858.0,10505772.0,10526073.0

In [4]:
pop_data_2 = pop_data.reset_index()
pop_data_2.rename(columns = {'economy':'Country_Code'}, inplace = True)

In [5]:
pop_data_2.head()

,Country_Code,YR1986,YR1987,YR1988,YR1989,YR1990,YR1991,YR1992,YR1993,YR1994,...,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022
0,AUT,7569794.0,7574586.0,7585317.0,7619567.0,7677850.0,7754891.0,7840709.0,7905633.0,7936118.0,...,8479823.0,8546356.0,8642699.0,8736668.0,8797566.0,8840521.0,8879920.0,8916864.0,8955797.0,9042528.0
1,BEL,9861823.0,9870234.0,9901664.0,9937697.0,9967379.0,10004486.0,10045158.0,10084475.0,10115603.0,...,11159407.0,11209057.0,11274196.0,11331422.0,11375158.0,11427054.0,11488980.0,11538604.0,11592952.0,11669446.0
2,BGR,8958171.0,8971359.0,8981446.0,8876972.0,8718289.0,8632367.0,8540164.0,8472313.0,8443591.0,...,7265115.0,7223938.0,7177991.0,7127822.0,7075947.0,7025037.0,6975761.0,6934015.0,6877743.0,6465097.0
3,CYP,743446.0,755021.0,766412.0,777592.0,788500.0,799061.0,810431.0,825986.0,844444.0,...,1166968.0,1176995.0,1187280.0,1197881.0,1208523.0,1218831.0,1228836.0,1237537.0,1244188.0,1251488.0
4,CZE,10342227.0,10347318.0,10355276.0,10361068.0,10333355.0,10308578.0,10319123.0,10329855.0,10333587.0,...,10514272.0,10525347.0,10546059.0,10566332.0,10594438.0,10629928.0,10671870.0,10697858.0,10505772.0,10526073.0

In [6]:
EUList_alpha3 = ['BEL', 'BGR', 'CZE', 'DNK', 'DEU', 'EST', 'IRL', 'GRC', 'ESP', 'FRA', 'HRV', 'ITA', 'CYP', 'LVA', 'LTU', 'LUX', 'HUN', 'MLT', 'NLD', 'AUT', 'POL', 'PRT', 'ROU', 'SVN', 'SVK', 'FIN', 'SWE']
EUList_alpha2 = ['BE', 'BG', 'CZ', 'DK', 'DE', 'EE', 'IE', 'EL', 'ES', 'FR', 'HR', 'IT', 'CY', 'LV', 'LT', 'LU', 'HU', 'MT', 'NL', 'AT', 'PL', 'PT', 'RO', 'SI', 'SK', 'FI', 'SE']

pop_data_2["Country_Code"] = pop_data_2["Country_Code"].replace(EUList_alpha3, EUList_alpha2)

In [7]:
columns = pop_data_2.columns.str.replace("YR", "")
pop_data_2.columns = columns

In [8]:
pop_data_2.to_csv("pop_data.csv")

In [9]:

columns = pop_data_2.columns.str.replace("YR", "")

pop_data_2.columns = columns

In [10]:
pop_data_2.head()

,Country_Code,1986,1987,1988,1989,1990,1991,1992,1993,1994,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AT,7569794.0,7574586.0,7585317.0,7619567.0,7677850.0,7754891.0,7840709.0,7905633.0,7936118.0,...,8479823.0,8546356.0,8642699.0,8736668.0,8797566.0,8840521.0,8879920.0,8916864.0,8955797.0,9042528.0
1,BE,9861823.0,9870234.0,9901664.0,9937697.0,9967379.0,10004486.0,10045158.0,10084475.0,10115603.0,...,11159407.0,11209057.0,11274196.0,11331422.0,11375158.0,11427054.0,11488980.0,11538604.0,11592952.0,11669446.0
2,BG,8958171.0,8971359.0,8981446.0,8876972.0,8718289.0,8632367.0,8540164.0,8472313.0,8443591.0,...,7265115.0,7223938.0,7177991.0,7127822.0,7075947.0,7025037.0,6975761.0,6934015.0,6877743.0,6465097.0
3,CY,743446.0,755021.0,766412.0,777592.0,788500.0,799061.0,810431.0,825986.0,844444.0,...,1166968.0,1176995.0,1187280.0,1197881.0,1208523.0,1218831.0,1228836.0,1237537.0,1244188.0,1251488.0
4,CZ,10342227.0,10347318.0,10355276.0,10361068.0,10333355.0,10308578.0,10319123.0,10329855.0,10333587.0,...,10514272.0,10525347.0,10546059.0,10566332.0,10594438.0,10629928.0,10671870.0,10697858.0,10505772.0,10526073.0