In [1]:
pip install wbgapi plotly

Requirement already satisfied: wbgapi in /opt/conda/lib/python3.11/site-packages (1.0.12)
Requirement already satisfied: plotly in /opt/conda/lib/python3.11/site-packages (5.17.0)
Requirement already satisfied: requests in /opt/conda/lib/python3.11/site-packages (from wbgapi) (2.31.0)
Requirement already satisfied: PyYAML in /opt/conda/lib/python3.11/site-packages (from wbgapi) (6.0.1)
Requirement already satisfied: tabulate in /opt/conda/lib/python3.11/site-packages (from wbgapi) (0.9.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.11/site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in /opt/conda/lib/python3.11/site-packages (from plotly) (23.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests->wbgapi) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests->wbgapi) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests->wbgapi) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests->wbgapi) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import wbgapi as wb

def DownloadPopulationData(): 
    EUList_alpha3 = ['BEL', 'BGR', 'CZE', 'DNK', 'DEU', 'EST', 'IRL', 'GRC', 'ESP', 'FRA', 'HRV', 'ITA', 'CYP', 'LVA', 'LTU', 'LUX', 'HUN', 'MLT', 'NLD', 'AUT', 'POL', 'PRT', 'ROU', 'SVN', 'SVK', 'FIN', 'SWE']
   
    try:
        pop_data = wb.data.DataFrame('SP.POP.TOTL', EUList_alpha3 ,range(2008, 2050, 1))
        pop_data_2 = pop_data.reset_index()
        pop_data_2.rename(columns = {'economy':'country'}, inplace = True)
        pop_data_2.columns = pop_data_2.columns.str.replace("YR", "")
        pop_data_2 = pop_data_2.melt(id_vars=['country'], var_name='Date', value_name='Population').sort_values("country")
        return pop_data_2
    except Error as e:
        return f"quit with {e} as error"

    country  Date  Population
0       AUT  2008   8321496.0
162     AUT  2014   8546356.0
243     AUT  2017   8797566.0
351     AUT  2021   8955797.0
216     AUT  2016   8736668.0